<!-- <label>Title</label>
<input type="text" name="title" value="<%= title.name %>">
<label>Author</label>
<select name="author">
    <% authors.forEach(author =>{ %>
        <% if(author.id ===  book.author){ %>
            <option selected label="<%= authhor.name %>" value="<%= author.id %>"></option>
        <% } else{ %>
            <option label="<%= authhor.name %>" value="<%= author.id %>"></option>
        <% } %>
    <% }) %>
</select>
<select name="" id=""></select> -->